

<div class="yeti-area cf">

    <div class="left-area" style="background: url('{{ section.settings.yetipack | img_url: '1200x' }}') no-repeat center bottom; background-size: cover;">
      <div class="yeti-callout">
        <h1>{{ section.settings.yetileft1 }}</h1>
        <p>{{ section.settings.yetileft2 }}</p>
        <a href="{{ section.settings.yetisignup1 }}" class="cta dropshadow">{{ section.settings.yetisignuptxt1 }}</a>
  
      </div>
    </div>
    <div class="right-area">
      <h1>{{ section.settings.yetiright1 }}</h1>
      <p>{{ section.settings.yetiright2 }}</p>
      <a href="{{ section.settings.yetisignup2 }}" class="cta dropshadow">{{ section.settings.yetisignuptxt2 }}</a>
    </div>
    <div style="clear:both;"></div>
  </div>
  
  
  
  {% schema %}
    {
      "name": "Double Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "yetipack",
          "label": "Left Background Image"
        },
        {
          "type": "html",
          "id": "yetileft1",
          "label": "Left Title"
        },
        {
          "type": "html",
          "id": "yetileft2",
          "label": "Left Copy"
        },
        {
          "type": "html",
          "id": "yetiright1",
          "label": "Right Title"
        },
        {
          "type": "html",
          "id": "yetiright2",
          "label": "Right Copy"
        },
        {
          "type": "url",
          "id": "yetisignup1",
          "label": "URL/Link left"
        },
        {
          "type": "text",
          "id": "yetisignuptxt1",
          "label": "Button text left"
        },
        {
          "type": "url",
          "id": "yetisignup2",
          "label": "URL/link right"
        },
        {
          "type": "text",
          "id": "yetisignuptxt2",
          "label": "Button text right"
        }
      ],
      "presets": [
        {
          "name": "Double Banner",
          "category": "Text"
        }
      ]
    }
  {% endschema %}
  